.integration
    &-btns
        display: flex
        align-items: center
        margin-bottom: 20px
        &__item
            border: 1px solid #e1e8f1
            padding: 8px 11px
            &.active
                color: #007aff